<div id="kat_label">Kategorije:</div>

<%
	li_id = 'kat_link'
	categories = ""
	categories += "<ul>"
	# Sve kat.
	categories += "<li class='#{li_id}'>"
	categories += link_to("Sve", recepts_path)
	categories += "</li>\n"

	Category.find(:all, :order => "name").each { |category|
		categories += "<li class='#{li_id}'>"
		categories += "<i>" + link_to(category.name, "/" + params[:controller] + "/?kat_id=" + category.id.to_s) + "(#{category.recept_ids.count})" + "</i>"
		categories += "</li>\n"
	}
	# Ostale kat.
	categories += "<li class='#{li_id}'>"
	categories += "<i>"
	categories += link_to("Ostali recepti (#{})", "/recepts/?kat_id=ostali")
	categories += "</i>"
	categories += "</li>\n"

	categories += "</ul>\n"
-%>
<%= categories %>
